/* Datei aus THEORG 16.43.2 */

body,
html {
	font: 81.25% Verdana, Arial, Helvetica, sans-serif;
	color: #4B4B4B;
	font-size: 13px;
	text-align: left;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
  height: 16px;
}

div.testmode {
  display: block;
  background-color: #3949AB;
  color: #FFFFFF;
  font-size: 1.17em;
  padding: 1em;
  margin: -8 -8 8 -8;
}

a:link,
a:visited {
	text-decoration: underline;
	color: #4B4B4B;
}

a:active,
a:hover,
a:focus {
	color: #4B4B4B;
	text-decoration: underline;
	background-color: transparent;
}

h1.sectiontitle {
	border-bottom: 1px solid #4B4B4B;
	font-size: 160%;
	padding: 0;
	margin: 0 0 20px 0;
}

div.sectiontitle {
	display: block;
	font-size: 1.17em;
	font-weight: bold;
	margin-bottom: 7px;
}

div.login {
	margin-bottom: 7px;
}

rd {
	padding: 3px 4px;
	margin: 0 0 5px 0;
}

input {
	border: 1px solid #a3a3a3;
	padding: 1px 4px;
}

input.ed {
	width: 250px;
}

input.date {
	width: 80px;
}

input.subbtn {
	padding: 1px 15px 1px 15px;
	background: -webkit-gradient(linear, 0% 0%, 0% 112%, from(#F8F3F3), to(#D6D6D6));
	background-color: #E7E7E7;
	border-radius: 3px;
	font-size: 13px;
	font-family: Arial;
	font-weight: bold;
	margin: 2px 0 0 0;
	border: 1px solid #8D8D8D;
	vertical-align: top;
	cursor: pointer;
}

select {
	margin: 0;
}

label.lbltxtext {
	display: block;
	float: left;
	width: 240px;
	line-height: 20px;
}

label.lbltxt {
	display: block;
	float: left;
	width: 120px;
	line-height: 20px;
}

label.lbltxtreg {
	display: block;
	float: left;
	width: 150px;
	line-height: 20px;
}

label.lbltxtl {
	display: block;
	float: left;
	width: 160px;
	line-height: 20px;
}

label.lbltxttleft {
	display: block;
	float: left;
	width: 85px;
	line-height: 20px;
}

label.lbltxttright {
	display: block;
	float: left;
	width: 180px;
	line-height: 20px;
}

li.overview {
	list-style-type: none;
	background-repeat: no-repeat;
	background-position: 0 6px;
	margin: 0;
	padding: 3px 0 0 0;
	line-height: 200%;
}

li.bookedevents {
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

ul,
menu,
dir {
	display: block;
	list-style-type: none;
	margin-before: 1em;
	margin-after: 1em;
	margin-start: 0px;
	margin-end: 0px;
	padding-start: 40px;
}

img.cntimg {
	float: left;
	margin: 0 10px 0 0;
	border: 1px solid #898989;
}

img.indicator {
	float: left;
	margin: 1px 5px 0 0;
}

table {
	font-size: 13px;
}

table.events {
	width: 100%;
	padding: 0;
	margin: 0;
}

table.header {
	border-bottom: 1px solid #898989;
	width: 100%;
	padding: 0;
	margin: 0;
}

tr.catalog {
	background-color: #d2d2d2;
}

tr.events {
	font: 81.25% Verdana, Arial, Helvetica, sans-serif;
}

tr.eventsaltered {
	font: 81.25% Verdana, Arial, Helvetica, sans-serif;
	background-color: #F7F7F7;
}

td.events {
	padding: 4px 10px 4px 10px;
	margin: 0;
}

td.eventstime {
	text-align: center;
	padding: 4px 10px 4px 10px;
	margin: 0;
}

td.catalog {
	width: 400px;
}

td.catalogspacer {
	padding: 0 20px 20px 0;
	width: 400px;
}

td.price {
	/* Container für den online dargestellten Preis
  font-weight: bold;
  */
}

td.header {
	font: 81.25% Verdana, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

th {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background-color: #d2d2d2;
	border: 0;
	padding: 7px 10px 7px 10px;
	margin: 0;
	color: #575757;
}

textarea {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #A3A3A3;
	margin: 0px;
	width: 320px;
}

div.inputbox {
	margin: 0 0 5px 0;
	padding: 0 0 0 0;
}

div.cleanup {
	clear: both;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	line-height: 0px;
}

div.nav {
	margin-bottom: 12px;
}

ul.errorbox {
	list-style-type: circle;
	margin-left: 1.5em;
	padding-left: 0px;
}

div.errorbox {
	color: #A31919;
	background-color: #FFFFDD;
	border-radius: 3px;
	border: 1px solid #A31919;
	width: 370px;
	padding: 10px;
}
