:root {
  --sv-primary-rgb: 161, 162, 163;
  --sv-primary: rgb(var(--sv-primary-rgb));

  --sv-primary-dark-rgb: 138, 139, 140;
  --sv-primary-dark: rgb(var(--sv-primary-dark-rgb));

  --sv-primary-darker-rgb: 130, 132, 133;
  --sv-primary-darker: rgb(var(--sv-primary-darker-rgb));

  --bs-primary: var(--sv-primary);
  --bs-link-color: var(--sv-primary-darker);
  --bs-link-color-rgb: var(--sv-primary-darker-rgb);
  --bs-link-hover-color: #4b4b4b;
}

.nav-link {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)) !important;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--sv-primary);
  --bs-btn-border-color: var(--sv-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--sv-primary-dark);
  --bs-btn-hover-border-color: var(--sv-primary-dark);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--sv-primary-dark);
  --bs-btn-active-border-color: var(--sv-primary-dark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--sv-primary);
  --bs-btn-disabled-border-color: var(--sv-primary);
}

.btn-outline-primary {
  --bs-btn-color: var(--sv-primary-dark);
  --bs-btn-border-color: var(--sv-primary-dark);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--sv-primary-dark);
  --bs-btn-hover-border-color: var(--sv-primary-dark);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--sv-primary-dark);
  --bs-btn-active-border-color: var(--sv-primary-dark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--sv-primary-dark);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--sv-primary-dark);
  --bs-gradient: none;
}

.alert-testmode {
  --bs-alert-border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
}

img.productimage {
  width: auto;
  height: 100%;
  max-height: 5rem;
}

div.leistungsgruppen a:first-child img.productimage {
  border-top-left-radius: var(--bs-border-radius) !important;
}

div.leistungsgruppen a:last-child img.productimage {
  border-bottom-left-radius: var(--bs-border-radius) !important;
}

.card-table {
  margin-bottom: 0;
}

.card-table tbody tr:last-child td,
.card-table tbody tr:last-child th {
  border: 0;
}

.date-column {
  width: 7rem;
}

.short-date-column {
  width: 6rem;
}

.time-column {
  width: 6rem;
}

.auto-column {
  width: 1%;
  white-space: nowrap;
}